.emoji-container {
  background-color: #ffffff33;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #ffffff30;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  width: 30%;
}
.emoji-img {
  height: 80px;
  width: 80px;
}
