.top-container {
  height: 8%;
  width: 100%;
  background-color: #ffffff33;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.game-logo-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.logo-img {
  height: 40px;
}
.log-name {
  font-family: 'Roboto';
  font-size: 22px;
  color: #ffffff;
}
.scores-container {
  display: flex;

  align-items: center;
}
.score-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 500;
  margin-right: 20px;
}
